.accordion {
  width: 80%;
  overflow: hidden;
  &__title {
    @include flexbox($align: center, $justify: space-between);
    @include relative-position;
    @include font($weight: 700, $size: 18px);
    background-color: $primary-color;
    color: $white;
    padding: 15px;
    border-radius: 10px;
  }
  &__content {
    @include relative-position($z-index: -1);
    background-color: $gray;
    @include font($weight: 400, $size: 18px);
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
    padding: 15px; 
    border-radius: 10px;
    transition: all 300ms;
    transform: translateY(-250%);
    ul {
      margin: 0;
      padding: 0;
    }
    &--list {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
  &__arrow {
    width: 20px;
    transition: transform 0.2s ease-in;
    cursor: pointer;
    margin-right: 5px;
  }
}

.active {
  .accordion__content {
    visibility: visible;
    height: auto;
    overflow: visible;
    transform: translateY(0%);
    margin-bottom: 28px;
  }
  .accordion__arrow {
    transform: rotate(-0.5turn);
  }
}

@media only screen and (max-width: $break) {
.accordion {
  width: 100%;
  &__title {
    @include font ($weight: 700, $size: 13px);
    padding: 10px;
  }
  &__content {
    padding: 10px;
    @include font($weight: 400, $size: 12px);
  }
}
} 