.carousel {
    @include flexbox ($justify: center, $align: center);
    @include relative-position ($z-index: 1);
    &__image {
        width: 100%;
        @include relative-position;
        @include flexbox ($justify: center, $align: center);
    }
    &__position {
        @include absolute-position;
        @include font ($weight: 500, $size: 18px);
        bottom: 25px; 
        color: $white;
    }
}

.arrow__left {
    @include relative-position ($left: 10px, $z-index: 2);
    margin-right: -50px; 
    cursor: pointer;
}

.arrow__right {
    @include relative-position ($right: 10px, $z-index: 2);
    margin-left: -50px; 
    cursor: pointer;
}

.accomodation__image {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media only screen and (max-width: $break) {
    .accomodation__image {
        height: 255px;
    }
    .carousel {
        &__position {
            display: none;
        }
    }

    .arrow__left {
        @include relative-position ($left: -24px, $z-index: 2);
        width: 18px;
    }
    .arrow__right {
        @include relative-position ($right: -24px, $z-index: 2);
        width: 18px;
    }
}