.Error {
  @include flexbox ($direction: column, $align: center);
  h1 {
    color: $primary-color;
    @include font ($weight: 700, $size: 288px);
    margin: 0;
  }
  p {
    color: $primary-color;
    @include font ($weight: 500, $size: 36px);
  }
  &__link {
    color: $black;
    margin-top: 100px;
    margin-bottom: 139px;
    @include font ($weight: 500, $size: 18px);
  }
}
