.accordion {
    width: 70%;
}

.accordion__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.accordion__content {
    visibility: hidden;
    height:0;   
    overflow: hidden;
    transition: all .2s ease-in;
    padding: 15px;
    background-color: #F6F6F673;
    border-radius: 10px;
    opacity: 0;
    ul {
        margin: 0;
        padding: 0;
    }
}

.active .accordion__content {
    visibility: visible;
    height: auto;
    overflow: visible;
    opacity : 1;
  }

.accordion__content--list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.accordion__arrow {
    width: 15px;
    transition: transform 0.2s ease-in; /* Correction de la transition */
    cursor: pointer;
}

.active .accordion__arrow {
    transform: rotate(-0.5turn); /* Correction de la rotation */
}