.bottom {
  @include relative-position;
  height: 209px;
  background-color: $black;
  &__img {
    @include absolute-position ($top: 45%, $left: 50%);
    transform: translate(-50%, -50%);
  }
  &__banner {
    @include font ($weight: 500, $size: 24px);
    color: $white;
    @include absolute-position ($top: 75%, $left: 50%);
    transform: translate(-50%, -50%);
  }
}