.banner {
    @include flexbox ($justify : space-between, $align: center);
    margin-bottom: 50px;
}

.link {
    text-decoration: none;
    color: $black;
    @include font ($weight: 500, $size: 24px);
    &:hover {
        text-decoration: underline;
    }
    &__about {
        margin-left: 40px;
    }
}
@media only screen and (max-width: $break) {
    .banner {
        margin-bottom: 23px;
        img {
            height: 47px;
        }
    }
    .link {
        @include font ($weight: 500, $size: 12px);
        text-transform: uppercase;
        &__about {
            margin-left: 20px;
        }
    }
}