.banner {
    @include flexbox ($justify : space-between, $align: center);
    margin-bottom: 50px;
}

.link {
    text-decoration: none;
    color: $black;
    @include font ($weight: 500, $size: 24px);
    &:hover {
        text-decoration: underline;
    }
    &__about {
        margin-left: 40px;
    }
}