.about__top{
    @include relative-position;
    .banner__img {
      height: 223px;
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
      margin-bottom: 15px;
    }
}
.about__accordion {
    margin-top: 20px;
    @include flexbox ($align: center, $direction: column);
}