.accomodation {
  position: relative;
  &__image {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

.accomodation__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  .title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1 {
      color: #ff6060;
      margin: 0;
    }
    p {
        margin: 0;
    }
  }
  .host {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      color: #ff6060;
      white-space: pre-wrap;
      width:  70px; 
      text-align: right;
    }
    img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
    }
  }
}

.accomodation__container__info {
  display: flex;
  justify-content: space-between;
    .tags {
      width: 55%;
        ul {
            margin: 0;
            padding: 0;
        }
        .tag {
            height: 25px;
            width: 32%;
            background-color: #ff6060;
            color: white;
            margin: 2px;
            list-style-type: none;
            display: inline-block;
            text-align: center;
            padding-top: 3px;
            border-radius: 10px;
        }
    }
}